.logInPage{
  text-align: center;
}

.error{
  margin-top: 15px;
  color: #ff0000;
}

.container{
  display: inline-block;
  text-align: center;
  margin-top: 100px;

  h2{
    font-weight: normal;
    letter-spacing: 2px;
  }

  .box{
    width: 250px;
    height: auto;
    border-width: thin;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 1px 5px 15px;

    h4{
      font-weight: normal;
      letter-spacing: 2px;
    }

    input{
      width: 200px;
      height: 15px;
      letter-spacing: 2px;
      border-color: white;
      border-radius: 10px;
      font-size: medium;
      background: rgb(166, 166, 166, 0.2);
    }
  }

  button {
    width: 60px;
    background: #5D686F;
    border-radius: 5px;
    border-width: thin;
    padding: 5px 8px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover{
      background: transparent;
      border-color: white;
    }
  }
}